<!-- <?xml version="1.0"?> -->
<launch>
	<group ns = "bag_handle_estimator">

		<!-- rviz -->
		<arg name="rviz"                    default="false"/>
		<arg name="rviz_cfg"                default="$(find bag_handle_estimator)/config/rviz/bag_handle.rviz"/>
		
		<param name="execute_default" type="bool" value="true"/>
		<param name="pub_plane_cloud" type="bool" value="true"/>

		<!-- D405 only -->
		<!-- <param name="sub_point_topic_name" type="str" value="/camera/depth_registered/points"/> -->
		<!-- <param name="base_frame_name" type="str" value="camera_link"/> -->

		<!-- SOBIT PRO -->
		<param name="sub_point_topic_name" type="str" value="/hand_camera/depth_registered/points"/>
		<param name="base_frame_name" type="str" value="base_footprint"/>

		<!-- depth range -->
		<param name="depth_range_min_x" type="double" value="0.0"/>
		<param name="depth_range_max_x" type="double" value="1.2"/>
		<!-- width range -->
		<param name="depth_range_min_y" type="double" value="-0.35"/>
		<param name="depth_range_max_y" type="double" value="0.35"/>
		<!-- height range -->
		<param name="depth_range_min_z" type="double" value="0.5"/>
		<param name="depth_range_max_z" type="double" value="1.0"/>
		
		<node pkg="bag_handle_estimator" type="bag_handle_estimator" name="bag_handle_estimator_node" output="screen"/>
		
		<node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>
	</group>

</launch>
